<div class="container">
    <h2>Create new Celebrity</h2>
    <form action="/celebrities/create" method="POST">
        <div class="row">
            <div class="col-md-3">

                <label>Name</label>
                <input type="text" name="name" placeholder="Celebrity Name" />
            </div>
            <div class="col-md-3">
                <label> Occupation</label>
                <input type="text" name="occupation" placeholder="Occupation" />
            </div>
            <div class="col-md-3">
                <label>Catch Phrase</label>
                <input type="text" name="catchPhrase" placeholder="Catch phrase" />
            </div>
            <div class="col-md-3">
                <label>Movie</label>
                <select name="movie">
                    <option value="">Choose movie</option>
                    {{#each movies}}
                    <option value={{id}}>{{title}}</option>
                    {{/each}}
                </select>
            </div>
            <button type="submit">Create</button>
        </div>
    </form>